.collapsible-section:hover {
	cursor: pointer;
	text-decoration: underline;
}

.collapsible-section:after {
	content: "➕"; /* Unicode character for "plus" sign (+) */
	font-size: 0.8rem;
	float: right;
}

.collapsible-section.open:after {
	content: "➖"; /* Unicode character for "minus" sign (-) */
}

.dark .collapsible-section:after,
.dark .collapsible-section.open:after {
	filter: brightness(150%);
}

/* Style the collapsible content. Note: hidden by default */
.docs-links .collapsible-wrapper {
	overflow: hidden;
	transition: height 0.5s ease-out;
}

body.dark .docs-content .h1 {
	color: rgb(206, 26, 16);
}

body.dark .docs-content .h2 {
	color: orange;
}

body.dark .docs-content .h3 {
	color: rgb(119, 203, 45);
}

body.dark .docs-content .h4 {
	color: rgb(25, 202, 202);
}

body.dark .docs-content .h5 {
	color: rgb(164, 110, 164);
}

body.dark .docs-content .h6 {
	color: rgb(206, 163, 220);
}

